<h2 style="margin-top: 128px; text-align: center; text-transform: uppercase;">Contributors</h2>
<p style="text-align: center; color: rgba(255, 255, 255, 0.5);">Built by the following contributors.</p>
<ol style="list-style-type: none; margin: 0; padding: 0; text-align: center;">
  {% for contributor in github.mkobuolys.flutter_deck %}
  <li style="display: inline-block; margin: 0; padding: 0;">
    <a href="{{ contributor.userUrl }}" target="_blank" title="{{ contributor.userId }}">
      <img src="{{ contributor.avatarUrl }}" style="display: inline-block; width: 64px; height: 64px; border-radius: 32px; margin: 16px;">
    </a>
  </li>
  {% endfor %}
</ol>