name: Build the example and docs website

on:
  push:
    branches:
      - main

jobs:
  build_demo:
    name: Build flutter_deck demo presentation
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./packages/flutter_deck/example

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Setup Melos
        run: dart pub global activate melos

      - name: Melos bootstrap
        run: melos bootstrap

      - name: Run Melos generate
        run: melos run generate

      - name: Replace index.html
        run: mv web/gh_pages.index.html web/index.html

      - name: Build web
        run: flutter build web --release

      - name: Upload artifact
        uses: actions/upload-artifact@v7
        with:
          name: demo-presentation
          path: ./packages/flutter_deck/example/build/web
          if-no-files-found: error

  build_docs:
    name: Build flutter_deck docs website
    needs: build_demo
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./doc/website

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get

      - name: Build docs website
        run: dart run bin/main.dart

      - name: Download flutter_deck demo presentation
        uses: actions/download-artifact@v7
        with:
          name: demo-presentation
          path: ./doc/website/build/demo

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./doc/website/build

  deploy:
    name: Deploy to GitHub Pages
    needs: build_docs
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
